 <section class="global-page-header">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="block">
                     <h2>About Smart Visitor System</h2>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- 
         ================================================== 
             Company Description Section Start
         ================================================== -->
      <section class="company-description">
         <div class="container">
            <div class="row">
               <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                  <img src="static/images/about/team_svs.jpg" alt="" class="img-responsive">
               </div>
               <div class="col-md-6">
                  <div class="block">
                     <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Our Vision</h3>
                     <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        Smart Visitor System is an IBM Sponsored web application for creating an intuitive and self-contained online experience for the Computer Engineering Department at San Jose State University. Powered by IBM’s Watson to provide cognitive computing, this application features natural language Q&A, assistive document preparation, and user accounts to address the most common issues that the front desk faces.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- 
         ================================================== 
             Company Feature Section Start
         ================================================== -->
      <section class="about-feature clearfix">
         <div class="container-fluid">
            <div class="row">
               <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s"
                  style = "height: 400px;">
                  <h1>
                     IBM Watson Q&A
                  </h1>
                  <h4>
                     Allows students to ask any questions regarding the major, department, and university directly to Smart Visitor System in natural language to have an accurate answer returned. This allows students to avoid visits to the computer engineering for the purpose of asking simple questions.
                  </h4>
               </div>
               <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s"
                  style = "height: 400px;">
                  <h1>
                     Assistive Document Preparation
                  </h1>
                  <h4>
                     Allows students to upload documents directly to SVS for a faculty member to prescreen and make comments on. Purpose is to allow students to confirm that a document is properly filled out before printing out a hard copy to turn in.
                  </h4>
               </div>
               <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s" style = "height: 400px;">
                  <h1>
                     User Accounts
                  </h1>
                  <h4>
                     Allows students to access Smart Visitor System feature through their San Jose State University's single sign on account. Store previous asked questions, data, and documents directly on Smart Visitor System. 
                     <br><br>
                  </h4>
               </div>
            </div>
         </div>
      </section>
      <!-- 
         ================================================== 
             Team Section Start
         ================================================== -->
      <section id="team">
         <div class="container">
            <div class="row">
               <h2 class="subtitle text-center">Meet The Team</h2>
               <div class="col-md-3">
                  <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                     <div class="team-img">
                        <img src="static/images/team/richard.jpg" class="team-pic" alt="" style = "height: 350px;">
                     </div>
                     <h3 class="team_name">Richard Jang</h3>
                     <p class="team_designation">Project Manager</p>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                     <div class="team-img">
                        <img src="static/images/team/chheang.jpg" class="team-pic" alt="" style = "height: 350px;">
                     </div>
                     <h3 class="team_name">Chheang Duong</h3>
                     <p class="team_designation">Project Architect</p>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                     <div class="team-img">
                        <img src="static/images/team/nick.jpg" class="team-pic" alt="" style = "height: 350px;">
                     </div>
                     <h3 class="team_name">Nicholas Carter</h3>
                     <p class="team_designation">Frontend Developer</p>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                     <div class="team-img">
                        <img src="static/images/team/cann.jpg" class="team-pic" alt="" style = "height: 350px;">
                     </div>
                     <h3 class="team_name">Cann Chin</h3>
                     <p class="team_designation">Backend Developer</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
          <footer id="footer" style = "">
         <div class="container">
            <div class="col-md-8">
               <p class="copyright">Copyright: <span>2017</span> . Design and Developed by SVS Team</p>
            </div>
            <div class="col-md-4">
               <ul >
                  <li>
                     <a href = "https://sites.google.com/a/sjsu.edu/smart-visitor-system/home">
                        <p class = "copyright">Visit our page!</p>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </footer>
