<div class="container-fluid">
<label ng-repeat="fun in userFunctions">
	<button type="button" class="btn btn-info btn-lg" data-id="{{ fun.bText }}" title="{{ fun.desctiption }}" ng-click="formPrep(fun)">{{ fun.bText }}</button>

</label>
</div>
<div>
 <div ng-repeat="object in userForm">
          <label style="display:block;padding-top:15px;"> {{ object.field }}  <input ng-change="object.pwstrf(object)" type="{{ object.type }}" ng-model="object.value"><p>{{object.pwstr}}</p></label>
        </div>
        <button ng-click="finFunct()" name="functionName" id="functionName">{{ finText }}</button>
</div>