	<div>
	<input type=text ng-model=categoryInput><button ng-click=addCategory()>Add Category</button>
	<p ng-repeat="category in categoryList">{{category}}<button ng-click="deleteCategory(category)">Delete Category</button></p>
	
	</div>


	<div>
	<form name="docInput">
		<label class="marginRight15">File Upload</label><input type="file" name="files" file-model = "myFile" />
		<label class="marginRight15">File Name</label><input ng-model=documentName>
		<label>Category Selection: </label><select ng-model="selectedCategory">
		<option ng-repeat="category in categoryList">{{category}}</option>
		</select>
	</form>	

	<label>Status Selection: </label><select ng-model="statusChoice">
		<option ng-repeat="choice in choiceList">{{choice}}</option>
		</select>
	</div>
	<button ng-click="previousPage()" ng-disabled="docUp">Previous Page</button>
	<button ng-click="nextPage()" ng-disabled="docUp">Next Page</button>

	
	<button ng-click="getDocument()">getDocument</button>
	<button ng-click="saveAnnotatedDocument()" ng-disabled="docUp">saveAnnotatedDocument</button>
	<button ng-click="saveDocument()" ng-disabled="!docInput.$valid">saveDocument</button>
	<button ng-click="getDocumentNameList()">getDocumentNameList</button>

	<canvas id="the-canvas" style="border:1px  solid black; display:none;"></canvas>
	<img id="pdfview"  style="border:1px  solid black;" data-original="http://stable-identifier/for-image" >

	<label>Search Input<input type = "text" ng-model = "searched"></label>

	<table>
		<tr>
			<th ng-click="orderByMe('documentName')">Document Name</th>
			<th ng-click="orderByMe('status')">Status</th>
			<th ng-click="orderByMe('uploadDate')">Upload Date</th>
			<th ng-click="orderByMe('annotateDate')">Annotate Date</th>
			<th ng-click="orderByMe('category')">Category</th>
			<th>Select</th>
			<th>Delete</th>
		</tr>
		<tr ng-repeat="doc in documentNameList | orderBy : myOrderBy:reverse | filter : searched">
			<th>{{doc.documentName}}</th>
			<th>{{doc.status}}</th>
			<th>{{doc.uploadDate | date:'MM/dd/yyyy'}}</th>
			<th>{{doc.annotateDate | date:'MM/dd/yyyy'}}</th>
			<th>{{doc.category}}</th>
			<th><button ng-click="setDocument(doc)">Select</button></th>
			<th><button ng-click="deleteDocument(doc)">Delete</button></th>
		</tr>
	</table>

