	<label class="marginRight15">File Upload</label><input type="file" name="files" file-model = "myFile" />
	<button ng-click="testFile()">Click to Test File Upload on backend</button>
	<button ng-click="checkAnnotationsBackEnd()">Check Annotations</button>
	<button ng-click="previousPage()">Previous Page</button>
	<button ng-click="nextPage()">Next Page</button>
	<canvas id="the-canvas" style="border:1px  solid black; display:none;"></canvas>
	<img id="pdfview"  style="border:1px  solid black;" data-original="http://stable-identifier/for-image" >

