<div class="container-fluid">
	<h2 class="white-text">TESTING</h2>
	<label class="white-text marginRight15">URL to Test</label><input type="text" id="urlinput" ng-model="urlInput">
	<br>
	<label class="white-text marginRight15">Input Data</label><input type="text" id="datainput" ng-model="dataInput">
	<br><br>
	<button ng-click="test()" >Click Me to Test!</button>
	<div style="width:100%; border-bottom: 1px solid yellow; margin-top: 25px;"></div>
	<h3 class="white-text">{{ testBody }}</h3>
</div>