
      <section class="global-page-header" style ="margin-bottom: 0px;">
                     <h3 style = "text-align: center; font-size: 30px; margin-top: 0; margin-bottom: 0;">Login</h3>
      </section>
      <!--/#Page header-->
      <section style = "background: #DFE2DB; padding-top: 40px; padding-bottom: 20px;">
         <div class="container">
         <div class="row">
            <div id = "login" style = "display: visible;" class="col-md-6 col-md-offset-3">
               <div class="panel panel-login">
                  <div class="panel-heading">
                     <div class="row">
                        <div class="col-xs-12">
                           <span id="login-form-link">Login</span>
                        </div>
                     </div>
                     <hr>
                  </div>                 
                  <div class="panel-body">                  
                     <div class="row">
                        <div class="col-lg-12">

                           <form id="login-form" action="" method="post" role="form" ">
                                             <img src = "static/gif/loading 3.gif" style = "z-index: 999; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 3%;">                                                    
                              <div class="form-group">
                                 <input type="text"  ng-model="username" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                              </div>
                              <div class="form-group">
                                 <input type="password" ng-model="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                              </div>
                              <!-- <div class="form-group text-center">
                                 <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                 <label for="remember"> Remember Me</label>
                              </div> -->
                              </form>
                              <div class="form-group">
                                 <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                       <button autofocus ng-keydown="enterHandler($event)" name="login-submit" id="login-submit" ng-click="loginUser()" tabindex="4" class="form-control btn btn-login">Login</button>
                                       <span ng-show="errorArrive">{{errorMessage}}</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="row">
                                    <div class="col-lg-12">
                                       <div class="text-center">
                                         <!--  <a tabindex="5" class="forgot-password">Forgot Password?</a> -->
                                          <br>
                                          <a ui-sref="register" tabindex="5" class="forgot-password">Click here to Register</a>                                                                
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </section>
<!--       <section style = "background: #DFE2DB;">
         <div class="container">
            <div class="row">
               <div class="form-group" style = "visibility: hidden;">
                  <textarea class="form-control" rows="5" id="comment" readonly="checked" ></textarea>
               </div>
            </div>
            <div class="row" style = "visibility: hidden;">
               <div class="form-group">
                  <textarea class="form-control" rows="5" id="comment" readonly="checked" ></textarea>
               </div>
            </div>
         </div>
      </section> -->
    <footer id="footer" style = "">
         <div class="container">
            <div class="col-md-8">
               <p class="copyright" style = "color: white;">Copyright: <span>2017</span> . Design and Developed by SVS Team</p>
            </div>
            <div class="col-md-4">
               <ul >
                  <li>
                     <a href = "https://sites.google.com/a/sjsu.edu/smart-visitor-system/home">
                        <p class = "copyright" style = "color: white;">Visit our page!</p>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </footer>      