			<button ng-click="contort()">Press me to see what controller youre using</button>
			<div class="container-fluid">
	<h1>Watson Q&A</h1>
	<div style="background-color:white; margin-bottom:25px;">
		<p>I am Watson, the front line of the Computer Engineering Department Office.</p>
		<p>I am here to answer any questions you have.</p>
		<p>My confidence level determines how accurate the results are.</p>
		<p>Beep Boop Bop.</p>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<input name="Question" type="text" style="width:100%" ng-model="query.queryIn">
		</div>
		<div class="col-xs-offset-3 col-xs-6 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3">
			<button ng-click = "ask()" >Ask</button>
		</div>
	</div>
	<div class="divided-section">
		<span><h2>Results</h2></span>
	</div>
	<div ng-repeat="ans in answers" class="row">
		<div style="height:100px;background-color:white; margin-bottom:25px;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ ans }}
		</div>
		<div style="height:100px;background-color:white; margin-bottom:25px;" class="col-xs-offset-1 col-xs-3 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3">
		</div>
	</div>
</div>