<div class="container-fluid">
	<div class="row divided-section">
		<div class="col-xs-5 col-sm-4 col-md-2 col-lg-2">
			<i class="fa fa-user fa-5x" aria-hidden="true"></i>
		</div>
		<div class="col-xs-2 col-sm-4 col-md-8 col-lg-8">
			<span>
				<p>Chheang Duong</p>
				<p>008409791</p>
			</span>
		</div>
		<div class="col-xs-5 col-sm-4 col-md-2 col-lg-2">
			<i class="fa fa-pzencil-square-o fa-2x" aria-hidden="true"></i>
			<i class="fa fa-power-off fa-2x" aria-hidden="true"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-1 col-lg-offset-1">
					<div class="svs-panel" >
						<div class="svs-panel-header">
							<!-- icon -->
							<span ng-click="navigate()">Watson Q&A</span>
						</div>
						<div class="svs-panel-content">
							<!-- description -->
							<span>
								With the help of IBM's Watson, you can search something up and be given a smart answer. 
								This is a an amazing opporunity to better yourself without bothering the nice people
								at the front desk.
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-1 col-lg-offset-1">
					<div class="svs-panel">
						<div class="svs-panel-header">
							<!-- icon -->
							
							<span>Pre-Screen</span>
						</div>
						<div class="svs-panel-content">
							<!-- description -->
							<span>
								Documents which need to be submitted to the
								CmpE department can be put through the pre-screening process to be reviewed by office staff.
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-1 col-lg-offset-1">
					<div class="svs-panel">
						<div class="svs-panel-header">
							<!-- icon -->
							
							<span>About Us</span>
						</div>
						<div class="svs-panel-content">
							<!-- description -->
							<span>
								We are a senior project team from SJSU composed of four Computer Engineering students. Our advisor is Dr. Chao-Li Tarng.
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-1 col-lg-offset-1">
					<div class="svs-panel">
						<div class="svs-panel-header">
							<!-- icon -->
							
							<span>Settings</span>
						</div>
						<div class="svs-panel-content">
							<!-- description -->
							<span>
								Tweak your account information and other features within the settings.
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>