			<button ng-click="contort()">Press me to see what controller youre using</button>
<div class="container-fluid">
	<div class="row divided-section">
		<div class="col-xs-5 col-sm-4 col-md-2 col-lg-2">
			<i class="fa fa-user fa-5x white-text" aria-hidden="true"></i>
		</div>
		<div class="col-xs-2 col-sm-4 col-md-8 col-lg-8">
			<span class="white-text">
				<p>Chheang Duong</p>
				<p>008409791</p>
			</span>
		</div>
		<div class="col-xs-5 col-sm-4 col-md-2 col-lg-2">
			<i class="fa fa-pencil-square-o fa-2x white-text" aria-hidden="true"></i>
			<i class="fa fa-power-off fa-2x white-text" aria-hidden="true"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-1 col-lg-offset-1">
					<div class="svs-panel" >
						<div class="svs-panel-header white-text" ng-click="navigate()">
							<!-- icon -->
                            <i class="fa fa-comments-o fa-5x" aria-hidden="true" style="margin-bottom: 25px; margin-top: 10px"></i>
							<br>
                            <span class="white-text">Watson Q&A</span>
						</div>
						<div class="svs-panel-content">
							<!-- description -->
							<span>
								With the help of IBM's Watson, you can search something up and be given a smart answer. 
								This is a an amazing opporunity to better yourself without bothering the nice people
								at the front desk.
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-1 col-lg-offset-1">
					<div class="svs-panel">
						<div class="svs-panel-header white-text" ng-click="navigate()">
							<!-- icon -->
							<i class="fa fa-file-text-o fa-5x" aria-hidden="true" style="margin-bottom: 25px; margin-top: 10px"></i>
							<br>
                            <span>Pre-Screen</span>
						</div>
						<div class="svs-panel-content">
							<!-- description -->
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-1 col-lg-offset-1">
					<div class="svs-panel">
						<div class="svs-panel-header white-text" ng-click="navigate()">
							<!-- icon -->
							<i class="fa fa-info fa-5x" aria-hidden="true" style="margin-bottom: 25px; margin-top: 10px"></i>
							<br>
                            <span>About Us</span>
						</div>
						<div class="svs-panel-content">
							<!-- description -->
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-1 col-lg-offset-1">
					<div class="svs-panel">
						<div class="svs-panel-header white-text" ng-click="navigate()">
							<!-- icon -->
							<i class="fa fa-cog fa-5x" aria-hidden="true" style="margin-bottom: 25px; margin-top: 10px"></i>
                            <br>
							<span>Settings</span>
						</div>
						<div class="svs-panel-content">
							<!-- description -->
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>