<section id="hero-area" >
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <div class="block wow fadeInUp" data-wow-delay=".3s">
                     <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                           <span>Smart Visitor System </span>
                        </h1>
                     </section>
                     <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                        A Web Application for the Computer<br>Engineering Department
                     </h2>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="feature">
         <div class="container">
         <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Features</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
               Access the computer engineering department with these services.
            </p>
         </div>
         <div class="row">
         <div class="col-md-4 col-lg-4 col-xs-12">
            <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
               <div class="media-left">
                  <div class="icon">
                     <a ui-sref="watson" class="ion-ios-lightbulb-outline" title = "Watson Q&A"></a>
                  </div>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">IBM Watson Q&A</h4>
                  <p>Have a question? Ask away!</p>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-lg-4 col-xs-12">
            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
               <div class="media-left">
                  <div class="icon">
                     <a ui-sref="prescreen" class="ion-ios-keypad-outline" title = "Assistive Document Preparation"></a>
                  </div>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">Assistive Document Preparation</h4>
                  <p>Prescreen your documents!</p>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-lg-4 col-xs-12">
            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
               <div class="media-left">
                  <div class="icon">
                     <a ui-sref="login"  class="ion-ios-flask-outline" title = "User Accounts"></a>
                  </div>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">User Accounts</h4>
                  <p>Create an SVS account!</p>
               </div>
            </div>
         </div>
      </section>
    <footer id="footer" style = "">
         <div class="container">
            <div class="col-md-8">
               <p class="copyright">Copyright: <span>2017</span> . Design and Developed by SVS Team</p>
            </div>
            <div class="col-md-4">
               <ul >
                  <li>
                     <a href = "https://sites.google.com/a/sjsu.edu/smart-visitor-system/home">
                        <p class = "copyright">Visit our page!</p>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </footer>