<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
	<meta name="csrf_token" content="{{ csrf_token }}">
	{% include 'base/statics.html' %}
	
	<script>console.log("{{staticpath}}"); var staticpath = {{staticpath}};</script>

  </head>
  <body onload="openNav()" ng-app="CmpeSVSApp" class="gray-bg">
	<div ng-controller="CmpeSVSCtrl">
		<div class="svsheader">
			<i class="icongray btnpadded fa fa-bars fa-3x" aria-hidden="true" onClick="openNav()"></i>
		</div>
		<div id="mySidenav" class="sidenav">
			<i class="sideNavBtn btnpadded icongray fa fa-times" aria-hidden="true" onClick="closeNav()"></i>
			<div class="greensection">
				<i class="fa fa-user fa-5x" aria-hidden="true"></i>
			</div>
			<a ui-sref="welcome"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
			<a ui-sref="watson"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Watson Q&A</a>
			<a ui-sref="prescreen"><i class="fa fa-file-text-o" aria-hidden="true"></i> Pre-Screen</a>
			<a ui-sref="aboutus"><i class="fa fa-university" aria-hidden="true"></i> About Us</a>
			<a ui-sref="settings"><i class="fa fa-user" aria-hidden="true"></i> User Settings</a>
			<a ui-sref="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
			<br><br>
			<a ui-sref="tester"><i class="fa fa-space-shuttle " aria-hidden="true"></i> Access Tester</a>

		</div>
		<div id="main">
		<div ui-view></div>
		</div>
	</div>
  </body>
</html>