{% load staticfiles %}
<!-- imported css -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/annotorious.css' %}">

<!-- custom css-->
<link rel="stylesheet" href="{% static 'css/svs-base.css' %}">
<link rel="stylesheet" href="{% static 'css/apps/svs-welcome.css' %}">

<!-- imported javascript-->
<script src="{% static 'javascript/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'javascript/jquery-ui.min.js' %}"></script>

<script src="{% static 'javascript/angular.min.js' %}"></script>
<script src="{% static 'javascript/angular-ui-router.js' %}"></script>

<script src="{% static 'javascript/bootstrap/bootstrap.min.js' %}"></script>

<script src="{% static 'javascript/adp-js/annotorious.min.js' %}"></script>
<script src="{% static 'javascript/adp-js/pdfcompatibility.js' %}"></script>
<script src="{% static 'javascript/adp-js/pdf.js' %}"></script>

<!-- custom javascript -->
<script src="{% static 'javascript/svs-base.js' %}"></script>

<!--controllers-->
<script src="{% static 'javascript/apps/welcome.js' %}"></script>
<script src="{% static 'javascript/apps/watson.js' %}"></script>
<script src="{% static 'javascript/apps/prescreen.js' %}"></script>
<script src="{% static 'javascript/apps/adp.js' %}"></script>
<script src="{% static 'javascript/apps/adpadmin.js' %}"></script>
<script src="{% static 'javascript/apps/aboutus.js' %}"></script>
<script src="{% static 'javascript/apps/settings.js' %}"></script>
<script src="{% static 'javascript/apps/logout.js' %}"></script>
<script src="{% static 'javascript/apps/login.js' %}"></script>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" type="image/png" href="{% static 'images/SVS_logo.png' %}">
<title>Smart Visitor System</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Template CSS Files
  ================================================== -->
<!-- Ionicons Fonts Css -->
<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
<!--Custom Glyphicon CSS-->
<link rel="stylesheet" href="{% static 'css/glyphicon.css' %}">
<!-- animate css -->
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<!-- Hero area slider css-->
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<!-- owl craousel css -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
<!-- template main css file -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!-- responsive css -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- Template Javascript Files
  ================================================== -->
<!-- modernizr js -->
<script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
<!-- owl carouserl js -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- wow js -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- slider js -->
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<!-- template main js -->
<script src="{% static 'js/main.js' %}"></script>
         
   