{% load staticfiles %}
<!-- imported css -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/annotorious.css' %}">

<!-- custom css-->
<link rel="stylesheet" href="{% static 'css/svs-base.css' %}">
<link rel="stylesheet" href="{% static 'css/apps/svs-welcome.css' %}">
<link rel="stylesheet" href="{% static 'css/pdfviewer.css' %}">

<!-- imported javascript-->
<script src="{% static 'javascript/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'javascript/jquery-ui.min.js' %}"></script>

<script src="{% static 'javascript/angular.min.js' %}"></script>
<script src="{% static 'javascript/angular-ui-router.js' %}"></script>

<script src="{% static 'javascript/bootstrap/bootstrap.min.js' %}"></script>


<script src="{% static 'javascript/adp-js/annotorious.min.js' %}"></script>
<script src="{% static 'javascript/adp-js/pdfcompatibility.js' %}"></script>
<script src="{% static 'javascript/adp-js/pdf.js' %}"></script>
<!-- custom javascript -->
<script src="{% static 'javascript/svs-base.js' %}"></script>

<!--controllers-->
<script src="{% static 'javascript/apps/welcome.js' %}"></script>
<script src="{% static 'javascript/apps/watson.js' %}"></script>
<script src="{% static 'javascript/apps/prescreen.js' %}"></script>
<script src="{% static 'javascript/apps/adp.js' %}"></script>
<script src="{% static 'javascript/apps/aboutus.js' %}"></script>
<script src="{% static 'javascript/apps/settings.js' %}"></script>
<script src="{% static 'javascript/apps/logout.js' %}"></script>
<script src="{% static 'javascript/apps/tester.js' %}"></script>