{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/svs-base.css' %}">

<script src="{% static 'javascript/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'javascript/angular.min.js' %}"></script>
<script src="{% static 'javascript/svs-base.js' %}"></script>
<script src="{% static 'javascript/bootstrap/bootstrap.min.js' %}"></script>
